# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Environments
.env

# IDEs
.vscode/
.idea/

# Database
*.sqlite
*.db

# Data Lake / Storage
storage/
*.parquet
*.csv
*.json

# Logs
*.log
logs/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/*.pid

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
.AppleDouble
.LSOverride

# Docker
*.tar

# Configuration Files (Secrets)
config/config.yaml
config/constants.py